* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    position: relative;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 0;

}

.logo {
    border: solid;
    padding: 0px 15px;
    margin: 6vw;
    border-radius: 10px;
    color: aqua;
    font-family: 'Tektur', sans-serif;
    font-size: 18px;
    text-shadow: 0px 0px 5px #00dbf4;

}

.Home {

    display: flex;
    gap: 5vw;
    position: relative;
    right: 3vw;
    list-style-type: none;

}

.Home a {

    text-decoration: none;

}

.Home li {
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

svg {
    fill: aqua;
    font-size: 1.6vw;
    display: none;
    align-items: center;
}

.content {
    width: 100%;
    height: calc(100% - 50px);
    display:flex;
    position: absolute;
}

.left {background-color: #fff;
    height: 100%;
    width: 50%;

    padding: 4vw 10vw;
}

.left h1 {
    font-family: 'Bree Serif', serif;
    font-size: 4vw;
    line-height: 4vw;
}

.left h1 span {
    font-family: 'Arvo', serif;
    color: aqua;
    text-shadow: 0px 0px 10px #00ffd070;
    ;
    font-weight: bold;
}

p {padding: 10px 0 ;
    border: 10px;
    font-family: popins, sans-serif;
}

.right { 
    height: 100%;
    width: 50%;


}
.right img {
    height: 100%;
}

button {
    font-family: popins, sans-serif;
    font-size: 1.5vw;
    padding: .8vw 1.5vw;
    background-color: rgb(0, 0, 0);
    color: aqua;
    border: none;
    border-radius: 5px;
    font-weight: 800;
    margin: 2vw 0;
    box-shadow: 4px 2px 3px aqua;

}

.Home li:hover {
    text-shadow: -2px -2px 3px aqua;
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
}

button:hover {
    text-decoration: underline;
    box-shadow: -1px 1px 20px 2px rgb(0, 255, 255);
    transition: text-decoration 0.8s ease;
}



@media screen and (max-width:600px) {
    nav {
        background-color: rgb(0, 0, 0);

    }

    .Home {
        display: none;
    }

    svg {
        display: block;
        height: 8vh;
    }
}
.content{display: flex-wrap;}

.right{display: flex;}